<div class="container">
    <div class="card">
        <h1>Registerd student</h1>
        <table >
            <thead >
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.Address}}</td>
               </tr>
            </tbody>
        </table>
    </div>
</div>
<app-home></app-home>